*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --font-size : calc(6px + 1.4vw);
    --qtcolor: black;
    --clockcolor: black;
}

body{
    display: flex;
    justify-content: stretch;
    align-items: center;
    min-height: 100vh;
    background-image: url(images/black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    row-gap: 3.5rem;
}

/* clock css */
.clock{
    margin-top: 15vh;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1), 0px 10px 10px rgba(0,0,0,0.7);
    height: 24vh;
    border-radius: 12px;
    padding: 20px;
    color: var(--clockcolor);
}

.clock h1{
    font-size: 3.5rem;
    font-weight: 600;
}

.clock span{
    position: relative;
    top: -10%;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;

}

/* quote css */

.quotespace{
    font-size: var(--font-size);
    color: var(--qtcolor);
}
/*navigation bar*/
.arrow{
    height:5vh ;
    width: 6vh;
    border: none;
    transform: scaleX(-1);
}
.navbar{
    margin: 0%;
    padding: 0%;
   justify-content: left;
    display: flex;
    width: 208vh;
    height: 6vh;
}
#btn{
    border: none;
}

#theme{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0vh;
    visibility: hidden;
    border-color: #e3e3e3;
    border-style: double;
    border-width: 10px;
}
    


button{
    border-left:#e3e3e3 10px double;
    border-right:black 10px double;
}
#btn :hover{

}
