* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --font-size: calc(6px + 1.4vw);
    --qtcolor: black;
    --clockcolor: black;
    --timesize: 3.5rem;
    --clockmwidth: 400px;
    --clockheight: 24vh;
    --themes-head: black;
    --imagebg: none;
    --boxshadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.7);
    --gap: 4rem;
    --borderstyle:double;
}

.space {
    --font-size: calc(6px + 1.4vw);
    --qtcolor: white;
    --clockcolor: white;
    --timesize: 5.5rem;
    --clockmwidth: 700px;
    --clockheight: 24vh;
    --themes-head: white;
    --imagebg: white;
    --boxshadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.7);
    --gap: 4rem;
    --borderstyle:double;
    --gum-border-color:white;
    --borderstyle:double;

}

.aurora {
    --font-size: calc(6px + 2vw);
    --qtcolor: lightblue;
    --clockcolor: lightblue;
    --timesize: 6.7rem;
    --clockmwidth: 700px;
    --clockheight: 24vh;
    --themes-head: black;
    --imagebg: none;
    --boxshadow: none;
    --gap: 2.5rem;
    --aurorastroke: 0.2vh;
    --aurorastroke-color: rgb(0, 0, 0);
    --borderstyle:none;

}

.sunset {
    --font-size: calc(6px + 1.7vw);
    --qtcolor: black;
    --clockcolor: black;
    --timesize: 6rem;
    --clockmwidth: 600px;
    --clockheight: 24vh;
    --themes-head: black;
    --imagebg: none;
    --boxshadow: none;
    --gap: 1.5rem;
    --textstroke: 0.05vh;
    --textstroke-color: rgba(255, 0, 0, 0.8);
    --borderstyle:none;

}

.bubblegum {
    --font-size: calc(6px + 1.4vw);
    --qtcolor: black;
    --clockcolor: white;
    --timesize: 5.5rem;
    --clockmwidth: 700px;
    --clockheight: 24vh;
    --themes-head: black;
    --imagebg: none;
    --boxshadow:none;
    --gap: 4rem;
    --gum-bgcolor: rgba(255, 0, 0, 0.2);
    --gum-display: flex;
    --gum-width: 90vw;
    --gum-height:30vh;
    --gum-top-left:76vh;
    --gum-bottom-left:35vh;
    --gum-border-color:white;
    --gum-border-width:3vh;
    --gum-top-right:26vh;
    --gum-bottom-right:76vh;
    --gum-stroke: 0.2vh;
    --gum-stroke-color: rgb(0, 0, 0);
    --gum-span-stroke: 0.1vh;
}

body {
    display: flex;
    justify-content: stretch;
    align-items: center;
    min-height: 100vh;
    background-image: url(images/black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    row-gap: var(--gap);
}

/* clock css */
.clock {
    margin-top: 15vh;
    width: 100%;
    max-width: var(--clockmwidth);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxshadow);
    height: var(--clockheight);
    border-radius: 12px;
    padding: 20px;
    color: var(--clockcolor);
}

.clock h1 {
    font-size: var(--timesize);
    font-weight: 600;
    -webkit-text-stroke: var(--gum-stroke);
    -webkit-text-stroke-color: var(--gum-stroke-color);
}

.clock span {
    position: relative;
    top: -10%;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
    -webkit-text-stroke: var(--gum-span-stroke);
    -webkit-text-stroke-color: var(--gum-stroke-color);
}

/* quote css */

.quotecontainer {
    background-color: var(--gum-bgcolor);
    display: var(--gum-display);
    width: var(--gum-width);
    height: var(--gum-height);
    align-items: center;
    justify-content: center;
    border-top-left-radius: var(--gum-top-left);
    border-bottom-left-radius: var(--gum-bottom-left);
    border-color: var(--gum-border-color);
    border-width: var(--gum-border-width);
    border-style: var(--borderstyle);
    border-left: none;
    border-right: none;
    border-top-right-radius: var(--gum-top-right);
    border-bottom-right-radius: var(--gum-bottom-right);
    padding: 4vh 0vw 4vh 4vw;
    max-width:80vw;
    text-align: center;
}

.quotespace {
    font-size: var(--font-size);
    color: var(--qtcolor);
    -webkit-text-stroke: var(--textstroke);
    -webkit-text-stroke-color: var(--textstroke-color);
}

/*navigation bar*/
img {
    height: 5vh;
    width: 6vh;
    border: none;
    transition: 250ms ease-in-out;
    background-color: var(--imagebg);
    border-radius: 20%;
    margin-left: 5px;
}

img:hover {
    transform: rotate(-90deg);
    transition: transform 250ms ease-in-out;
}

nav {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 2vw;
    top: 2vh;
}

nav h1 {
    color: var(--themes-head);
}

#themes {
    visibility: hidden;
    border-color: #e3e3e3;
    border-style: double;
    border-width: 10px;
    transition: 300ms ease-in-out;
}

#themes button {
    padding: 2px;
}